
.active{
  color: #dc3545 !important;
  font-weight: 700;
}


[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #0dcaf0;
}

/* 🌙 Dark Mode Colors */
[data-bs-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #f1f1f1;
  --bs-primary: #8ab4f8;
  --bs-secondary: #9aa0a6;
  --bs-success: #57bb8a;
  --bs-danger: #f28b82;
  --bs-warning: #fbbc04;
  --bs-info: #66c7f4;
}